<IfModule mod_rewrite.c>
    
  #Bloquear listagem
  Options -Indexes

  RewriteEngine on

  DefaultLanguage pt-BR
  AddDefaultCharset UTF-8

  RewriteCond %{SCRIPT_FILENAME} !-d
  RewriteCond %{SCRIPT_FILENAME} !-f

  #PAGES**************************************************************



  # =============================== LOGIN ===============================
     RewriteRule ^acesso?$ index.php [L,QSA]
  # =============================== LOGIN ===============================

  # =============================== HOME ===============================
     RewriteRule ^home?$ views/home/home.php [L,QSA]
  # =============================== HOME ===============================

  # =============================== MARCAS ===============================
     RewriteRule ^listagem-marcas?$ views/cadastros/marcas/listagem-marcas.php [L,QSA]
     RewriteRule ^nova-marca?$ views/cadastros/marcas/nova-marca.php [L,QSA]
     RewriteRule ^editar-marca/(.*)?$ views/cadastros/marcas/nova-marca.php?id=$1 [L,QSA]
     RewriteRule ^importar-marcas?$ views/marcas/importar-marcas.php [L,QSA]
  # =============================== MARCAS ===============================

  # =============================== PRODUTOS ===============================
     RewriteRule ^listagem-produtos?$ views/cadastros/produtos/listagem-produtos.php [L,QSA]
     RewriteRule ^novo-produto?$ views/cadastros/produtos/novo-produto.php [L,QSA]
     RewriteRule ^editar-produto/(.*)?$ views/cadastros/produtos/novo-produto.php?id=$1 [L,QSA]
  # =============================== PRODUTOS ===============================

  # =============================== CLIENTES ===============================
     RewriteRule ^listagem-clientes?$ views/cadastros/clientes/listagem-cliente.php [L,QSA]
     RewriteRule ^novo-cliente?$ views/cadastros/clientes/novo-cliente.php [L,QSA]
     RewriteRule ^editar-cliente/(.*)?$ views/cadastros/clientes/novo-cliente.php?id=$1 [L,QSA]
  # =============================== CLIENTES ===============================

  # =============================== USUÁRIOS ===============================
     RewriteRule ^listagem-usuarios?$ views/cadastros/users/listagem-usuarios.php [L,QSA]
     RewriteRule ^novo-usuario?$ views/cadastros/users/novo-usuario.php [L,QSA]
     RewriteRule ^editar-usuario/(.*)?$ views/cadastros/users/novo-usuario.php?id=$1 [L,QSA]
  # =============================== USUÁRIOS ===============================
      
</IfModule>
